body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  background: #f5f5f5;
}

.container_1 {
  width: 1150px;
  height: 650px;
  margin: 0 auto;
  margin-top: 128px;
  margin-bottom: 150px;
}

.container_2 {
  width: 1151px;
  height: 518px;
  margin: 0 auto;
  margin-bottom: 150px;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
  width: 956px;
  margin-bottom: 30px;
}
.par1 {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: aliceblue;
}

.interierBG {
  padding: 0px;
  position: relative;
  background-image: url("../resources/Rectangle\ 1.jpg");
  width: 1150px;
  height: 500px;
  flex-shrink: 0;
}

.interierBG_Text h2 {
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  width: 470px;
}
.About {
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.par2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.35px;
  width: 1048px;
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  background-color: #ad1818;
  cursor: pointer;
}

.item1 {
  width: 1150px;
  margin: auto;
}

.TextContainer {
  color: #121212;
  padding-bottom: 15px;
}

.Item__Image {
  display: block;
  padding-bottom: 15px;
  width: 100%;
  height: 418px;
}

h3 {
  width: 1150px;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #121212;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.Item__title {
  color: #121212;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  padding-bottom: 15px;
}

.Item__cart-btn {
  margin-bottom: 90px;
  width: 127px;
  height: 27px;
  color: #ad1818;
  padding: 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

.button_watchall_container {
  width: 100%;
  padding-bottom: 150px;
}

.button_watchall {
  display: block;
  width: 100%;
  height: 153px;
  margin: auto;
  text-decoration: none;
  text-align: center;
  line-height: 153px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: #ad1818;
  border: 1px solid #ad1818;
  border-radius: 5px;
}

.button_watchall:hover {
  color: #fff;
  background-color: #ad1818;
}

.services {
  width: 1400px;
  height: 1844px;
  margin: auto;
  background-color: black;
}

.services_text {
  margin: auto 0px;
  margin-bottom: 34px;
  padding-top: 151px;
  padding-left: 127px;
  width: 66px;
  height: 25px;

  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.planning_solution_1 {
  width: 1150px;
  height: 270px;
  margin: auto;
  background-color: #ff0000;
  background-image: url(../resources/Karandash.png);
}

.planning_solution_2 {
  width: 1150px;
  height: 270px;
  margin: auto;
  background-color: #ff0000;
  background-image: url(../resources/Rainbow.png);
}

.planning_solution_3 {
  width: 1150px;
  height: 270px;
  margin: auto;
  background-color: #ff0000;
  background-image: url(../resources/Chertej.png);
}

.planning_solution_4 {
  width: 1150px;
  height: 270px;
  margin: auto;
  background-color: #ff0000;
  background-image: url(../resources/Sklad.png);
}

.text_serv {
  margin: auto 0px;
  padding-top: 15px;
  padding-left: 127px;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}

.services_container {
  padding-bottom: 60px;
}
