body {
  font-family: "Manrope", sans-serif;
}

.container_1 {
  width: 1150px;
  height: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 128px;
  margin-bottom: 150px;
}

.container_2 {
  width: 1151px;
  height: 518px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 150px;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 100% */
  letter-spacing: -1.8px;
  width: 956px;
  margin-bottom: 30px;
}
.par1 {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: aliceblue;
}

.interierBG {
  background-image: url("../resources/Rectangle\ 1.jpg");
  width: 1150px;
  height: 500px;
  flex-shrink: 0;
}

.interierBG_Text h2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
  width: 430px;
  padding-top: 379px;
  padding-left: 40px;
}
.About {
  color: #121212;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.par2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.35px;
  width: 1048px;
  margin-bottom: 30px;
}

.btn {
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  background-color: #ad1818;
  cursor: pointer;
}
