html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: white;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1180px;
}
.about__btn,
.interior__text,
.services__title,
.picture__text,
.services__text,
.footer__link,
.footer__text {
  color: #fff;
}
h1,
h2,
h3,
.header__link,
p.about__text,
a.phone,
a.mail {
  color: #121212;
}
h1 {
  width: 956px;
  line-height: 60px;
  margin-bottom: 30px;
  font-size: 60px;
  letter-spacing: -1.8px;
}
h2 {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
}
.interior,
.about,
.projects {
  margin-bottom: 150px;
}

.interior__wrapper {
  position: relative;
  width: 1150px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url("../resources/Rectangle\ 1.jpg");
}

.interior__text {
  position: absolute;
  width: 430px;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  letter-spacing: -0.6px;
  line-height: normal;
}

p.about__text {
  width: 1048px;
  margin-bottom: 30px;
  font-size: 45px;
  line-height: normal;
  letter-spacing: -1.35px;
}

.about__btn {
  display: inline-block;
  padding: 19px 36px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  background: #ad1818;
}
.projects__item {
  display: inline-block;
  margin-bottom: 94px;
}
.projects__image {
  margin-bottom: 15px;
}

a.projects__info {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: -0.6px;
  color: #ad1818;
}

a.projects__link {
  display: block;
  width: 1150px;
  height: 153px;
  line-height: 153px;
  border-radius: 5px;
  font-size: 30px;
  border: 1px solid #ad1818;
  text-decoration: none;
  color: #ad1818;
  text-align: center;
  letter-spacing: -0.9px;
}
a.projects__link:hover {
  background-color: #ad1818;
  color: #fff;
}
.services {
  padding: 150px 0 150px 0;
  background: #121212;
}

.services__item {
  display: inline-block;
  margin-bottom: 58px;
}
li.services__item:last-child {
  margin-bottom: 0;
}
.services__image {
  margin-bottom: 15px;
}
h3.services__text {
  margin-bottom: 0;
}
